.list_user{
    border: 1px solid rgb(177, 165, 165);
   
}

.title_list{
    background: rgb(209, 203, 203);
    padding: 15px;
    margin-bottom: 15px;
}

.btn.btn_edit{
    vertical-align: middle;
    font-size: 12px;
    border-radius: 40px;
}

.btn.btn_editP{
	
    font-size: 12px;
    border-radius: 40px;  
    margin: 60px 0px 0px 0px;
    width: 130px;
}


a.btn.btn-success.btn_edit, a.btn.btn-danger.btn_edit, a.btn.btn-info.btn_edit{
    padding: 8px;
}
button.btn.btn-primary.btn_edit{
	padding: 8px;
}

label.required:after {
	color: red;
	content: " *";
}

/*   B I L L   */

#boss{
    width: 140px;
    float: left;

}

#link_gio_hang{
    margin: 110px 0px 0px 0px;
}
input.my_input{
    border-radius: 4px;
	width: 100%;
	border: gray solid 1px;
	margin-top:15px;
}
#giamgia{
    width: 350px;
}
#btn_giamgia{
    width: 120px;
    
}

#bill{
    border: rgb(143, 22, 22) solid 1px;
}

#inforX{
    margin-top: 40px;
}

.content{
    color: black;
}

#dt{
    margin-left: 200px;
}

.myInput_filter {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 30px;
  height:10px;
  font-size:13px;
}
